@charset "UTF-8";

/* HTML Styles */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color: #f6f7d4;
    margin: 0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    line-height: 2em;
}


/* Custom Styles */

.proj-info {
    width: 50%;
    margin: 2em auto;
}